well-known-ssh-hosts: new spec for verifying ssh known hosts

/cc @C2SP/well-known-ssh-hosts

well-known-ssh-hosts is a spec for sharing ssh known_hosts entries over TLS, in a way that lets us verify the identity of who created the host key.

The core of the spec is: example.com publishes a known_hosts file at https://example.com/.well-known/ssh-known-hosts. The file fetched from /.well-known/ssh-known-hosts is a subset of the format described in the sshd(8) manual.

Here are the restrictions placed on the format:

- hashed hostnames are rejected
- hostnames must match the domain they were fetched from, or be valid subdomains of that domain (or wildcard subdomains).
- IP addresses are rejected (follows from the above rule)
- the base64 must be valid
- the decoded key must parse correctly

Many of the less-used features are supported: @cert-authority, @revoked (if the domain matches), non-standard ports, etc, if the conditions above are met.

As a bonus: a global service is running to collect .well-known/ssh-known-hosts files, verify they are valid, and amalgamate them at https://knownhosts.net

The spec and service would be maintained by me.

I’ve wanted this to exist (and for clients to support it) forever. The amalgamation is a clever stopgap, too.

Steward +1.

Nice idea!

> The core of the spec is: example.com publishes a known_hosts file at https://example.com/.well-known/ssh-known-hosts. The file fetched from /.well-known/ssh-known-hosts is a subset of the format described in the sshd(8) manual.

- I checked [the Well-Known URIs registry](https://www.iana.org/assignments/well-known-uris/well-known-uris.xhtml) and confirmed that `ssh-known-hosts` is not already registered for another use. I also don't at a glance see anything else there that might make this name choice confusing.
- I checked [RFC 8615 section 3](https://www.rfc-editor.org/rfc/rfc8615.html#section-3) and AFAICT this name choice satisfies the criteria therein. In particular:
  > Registered names for a specific application SHOULD be correspondingly precise; "squatting" on generic terms is not encouraged.  For example, if the Example application wants a well-known location for metadata, an appropriate registered name might be "example-metadata" or even "example.com-metadata", not "metadata".

  The format described in the `sshd(8)` manual is widely used, and the standard user location of `~/.ssh/known_hosts` is well-known, so adapting that to `/.well-known/ssh-known-hosts` is reasonably justified as precise.
- I checked [RFC 8615 section 3.1](https://www.rfc-editor.org/rfc/rfc8615.html#section-3.1) and AFAICT a C2SP specification should be suitable as a "specification document". The only constraint I can see on the contents of the C2SP specification is:
  > At a minimum, a registration will reference a specification that defines the format and associated media type(s) to be obtained by dereferencing the well-known URI, along with the URI scheme(s) that the well-known URI can be used with.  If no URI schemes are explicitly specified, "http" and "https" are assumed.

As for the C2SP slug, I think `well-known-ssh-hosts` is good and sets the pattern for any future Well-Known URI specifications.

ACK on inclusion; with @FiloSottile's +1, we have steward quorum (2/3).


@crawshaw welcome to C2SP and thank you for maintaining a spec!

You now have access to approve and merge any PR to your spec (both the `well-known-ssh-hosts.md` file in the root of the repository and anything under a `well-known-ssh-hosts/` directory), as well as to manage the issue tracker. Please only take maintainer actions on issues related to your spec.

Note that GitHub paths are not stable: please use the c2sp.org redirector when possible. https://c2sp.org/well-known-ssh-hosts redirects to your spec, and https://c2sp.org/CCTV/well-known-ssh-hosts redirects to the CCTV vectors, if any.

Let us know if you encounter any issues.

Thank you, I really appreciate this fast lightweight service you are running!

> [@raggi](https://github.com/raggi) I see that your gist proposes `/.well-known/ssh_known_hosts` instead of this spec proposal's `/.well-known/ssh-known-hosts`. I note that while either is permitted by the ABNF in RFC 8615, every current entry in the Well-Known URIs registry uses hyphens for word separation instead of underscores, so for consistency I would suggest coalescing around the hyphenated name.

I have no strong preference, one "better matches" the web and CLI arguments, the other "better matches" the original source. I can't see a great reason to prefer one or t'other, and have little care. Any spec that gets to the meat of this is a huuuuge step forward and we can incrementally build an ecosystem around it from here.